/* body {
    background: #8e9eab;
} */
.otro {
    background: #1e130c;
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);
    background: linear-gradient(to right, #9a8478, #1e130c);


    /* height: 100vh; */
    min-height: 100vh;
    /* position: relative; */
}

body {
    background: #e0e0e0;
}